<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Welcome to bookStore</title>
</head>
<body style="text-align: center;margin: 100px auto">
<h1 style="font-size: 50px">Welcome to backEnd project for bookStore by django!</h1>
<h2 style="font-size: 36px">Please access the following links:</h2>
<ul style="width: 666px;text-align: center;margin: 66px auto;font-size: 28px">
    <li style="margin: 10px auto"><a href="/bookStore/docs/">Interactive API Documentation</a></li>
    <li style="margin: 10px auto"><a href="/bookStore/api/">The Browsable API</a></li>
</ul>
</body>
</html>
