<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to bookStore</title>
</head>
<body style="text-align: center;margin: 100px auto">
<h1>Welcome to backEnd project for bookStore by django!</h1>
<p>Please access the following links:</p>
<ul style="width: 666px;text-align: center;margin: 18px auto">
    <li><a href="/bookStore/docs/">Interactive API Documentation</a></li>
    <li><a href="/bookStore/api/">The Browsable API</a></li>
</ul>
</body>
</html>
